! XRESOURCES EASY TO MISS STUFF
! . specifies a subclass or a direct resource of the class
! * applies to the resource of the class and/or any subclasses
! * with no preceeding class (i think) matches the property on all classes

! custom colors
#include ".Xresources.d/colorscheme"

xterm*background: BACKGROUND
xterm*foreground: FOREGROUND

xterm*color0:  COLOR0
xterm*color1:  COLOR1
xterm*color2:  COLOR2
xterm*color3:  COLOR3
xterm*color4:  COLOR4
xterm*color5:  COLOR5
xterm*color6:  COLOR6
xterm*color7:  COLOR7
xterm*color8:  COLOR8
xterm*color9:  COLOR9
xterm*color10: COLOR10
xterm*color11: COLOR11
xterm*color12: COLOR12
xterm*color13: COLOR13
xterm*color14: COLOR14
xterm*color15: COLOR15

XTerm*bellIsUrgent: true

XTerm*termName:		xterm-256color

! Sixel support
XTerm*decTerminalID: 340

! font settings
! bitmap fonts are cool until we start hitting unicode
!xterm*font:           -*-courier-medium-r-*-*-12-*-*-*-*-*-iso10646-1
!xterm*boldFont:  -*-courier-bold-r-*-*-12-*-100-*-*-*-iso10646-1
!xterm*font: -bitstream-courier 10 pitch-medium-r-*-*-*-*-0-*-*-*-*-standard
!xterm*boldFont: -bitstream-courier 10 pitch-bold-r-*-*-*-*-0-*-*-*-*-standard    
xterm*boldMode: true
xterm*boldColors: false
xterm*faceName:   Courier New
xterm*faceSize:   10
xterm*allowBoldFonts: true

!fix antialiasing
xterm.Xft.dpi: 87
Xft.antialias: false 
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault

! maybe underscores are more consistiently visible? (YES)
XTerm*scaleHeight: 1.01

! fixes alt/meta
XTerm*eightBitOutput: true
XTerm*eightBitInput: false

! shift up and shift down to scroll one line
XTerm.VT100.translations: #override \
    Shift <Key>Up: scroll-back(1) \n\
    Shift <Key>Down: scroll-forw(1) 
